body {
    margin: 0;
    background: rgb(243, 186, 113) ;
    /* url(/images/thinmints.jpg) repeat-y 50% 0% */
}

.garage-and-friends {
    display: flex;
    justify-content: center;
}

/* .garage-outside {
    background-image: url(/images/opendoor.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 6;
} */

/* .garage-outside-parts {
    display: block;
} */

.garage-outside-top {
    background-image: url(/images/house-top.jpg);
    position: fixed;
    width: 452px;
    height: 537px;
    left: 480px;
    
}

.garage-outside-right {
    background-image: url(/images/house-right.jpg);
    position: fixed;
    width: 480px;
    height: 1139px;
    left: 930px;
}

.garage-outside-bottom {
    background-image: url(/images/house-bottom.jpg);
    position: fixed;
    width: 452px;
    height: 282px;
    top: 856px;
    left: 480px;
}

.garage-outside-left {
    background-image: url(/images/house-left.jpg);
    position: fixed;
    width: 480px;
    height: 1139px;
}

/* .above-door {
    width: 100%;
    height: 536px;
}    */

.garage-entrance {
    width: 450px;
    /* height: 87%; */
    /* padding-top: 7.25%; */
    margin: 0 480px;
    display: flex;
    flex-wrap: wrap;
}

.garage-door {
    margin-top: 536px;
    background-image: url(/images/garage-door.jpg);
    background-size: cover;
    width: 450px;
    height: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.garage-door * {
    margin: 0;
    color: rgb(82,95,52);
}

h1 {
    /* color: rgb(101,80,37); */
    font-size: 5rem;
    text-shadow: black 1px 1px;
}

.lightbulb {
    top: 10px   ;
    position: sticky;
}

.content h2 {
    width: 100%;
    text-align: center;
}

.content {
    height: 200vh;
    background-color: rgb(82,95,52);
    margin: 16px;
    color: white;
}

.what {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
