body {
    margin: 0;
    background: rgb(243, 186, 113) url(/images/neighborhood.jpg) repeat-x fixed 1392px 0;
    z-index: 4;
}

.garage-and-friends {
    background: url(/images/flop.jpg) repeat-x fixed 0 1139px ;
    z-index: 1;
}

.garage-outside-top {
    background-image: url(/images/house-top.jpg);
    position: fixed;
    width: 452px;
    height: 536px;
    left: 480px;
}

.garage-outside-right {
    background-image: url(/images/house-right.jpg);
    position: fixed;
    background-position: right;
    width: 478px;
    height: 1139px;
    left: 930px;
}

.garage-outside-bottom {
    background-image: url(/images/house-bottom.jpg);
    position: fixed;
    width: 452px;
    height: 282px;
    top: 856px;
    left: 480px;
}

.garage-outside-left {
    background-image: url(/images/house-left.jpg);
    position: fixed;
    width: 480px;
    height: 1139px;
}

.garage-entrance {
    width: 450px;
    margin: 0 480px;
    display: flex;
    flex-wrap: wrap;
}

.garage-door {
    margin-top: 536px;
    background-image: url(/images/garage-door.jpg);
    background-size: cover;
    width: 450px;
    height: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.garage-door * {
    margin: 0;
    /* color: rgb(82,95,52); */
}

h1 {
    color: rgb(101,80,37);
    font-size: 5rem;
    text-shadow: black 1px 1px;
}

.lightbulb {
    top: 0px;
    position: sticky;
}

.content h2 {
    width: 100%;
    text-align: center;
}

.content {
    height: 200vh;
    background-color: rgb(129,150,171);
    color: white;
    z-index: -1;
}

.what {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
